* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-rows: 1fr,2fr,1fr; /* Auto-sized navbar and footer, main content takes remaining space */
    grid-template-columns:1fr,1fr;
    height: 100vh; /* Full height */
  }
  .main-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 1fr;
  }
  .navbar {
    grid-column-start: 1;
    grid-column-end:2 ;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .calculator {
    
    grid-row-start: 1;
    grid-row-end: 2;
  
  }
  .todo{
    grid-column-start: 2;
    grid-row-start: 1;
    
  }
  .todo2{
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .footer {
    grid-column-start: 1;
    grid-column-end:2 ;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  